<p id="notice"><%= notice %></p>

<p>
  <b>Shopify:</b>
  <%= @shop.shopify_id %>
</p>

<p>
  <b>Domain:</b>
  <%= @shop.domain %>
</p>

<p>
  <b>Api password:</b>
  <%= @shop.api_password %>
</p>


<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
