<% content_for(:head) do %>
  <%= stylesheet_link_tag "jquery.jqplot_changes" %>
  <%= javascript_include_tag "jqplot/plugins/jqplot.pieRenderer", "jqplot/plugins/jqplot.categoryAxisRenderer.min", "jqplot/plugins/jqplot.canvasTextRenderer.min",
  "jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js",
  "jqplot/plugins/jqplot.canvasOverlay.min.js",
  "jqplot/plugins/jqplot.canvasTextRenderer.min.js",
  "jqplot/plugins/jqplot.categoryAxisRenderer.min.js",
  "jqplot/plugins/jqplot.cursor.min.js",
  "jqplot/plugins/jqplot.dateAxisRenderer.min.js",
  "jqplot/plugins/jqplot.highlighter.min.js",
  "jqplot/plugins/jqplot.pointLabels.min.js"
   %>
<% end %>
<h2>Statistics</h2>

<div id="pie_dish" class="grid4 first"></div>

<div id="chart1" class="grid8 last"></div>

<% content_for(:jquery) do %>
  
  var line1=  <%= @sales_value.inspect.html_safe %>;
  var line2=  <%= @sales_count.inspect.html_safe %>;
  var plot1 = $.jqplot('chart1', [line1], {
       title:'Sales from Discounts',
       axes:{
         xaxis:{
           renderer:$.jqplot.DateAxisRenderer,
           tickOptions:{
             formatString:'%b&nbsp;%#d'
           } 
         },
         yaxis:{
           tickOptions:{
             formatString:'$%.2f'
             }
         }
       },
       highlighter: {
         show: true,
         sizeAdjust: 7.5
       },
       cursor: {
         show: false
       }
   });
  
  
  jQuery.jqplot('pie_dish', 
    [[['Unused', <%= @unused.count %> ], ['Used', <%= @used.count %>]]], 
    {
      grid: {
        drawBorder: false, 
        drawGridlines: false,
        shadow:false,
        background: "rgba(255,255,255, 0)"
      },
      seriesColors: ["#43C1EF", "#CDDF54"],
      seriesDefaults: {
        color: "#ffffff",
        renderer: jQuery.jqplot.PieRenderer, 
        rendererOptions: { 
          diameter: 250,
          padding: 0,
          sliceMargin: 3, 
          startAngle: -90,
          showDataLabels: true,
          shadowAngle: 45,
          shadowOffset: 2,
          shadowDepth: 2,
          shadowAlpha: 0.3,
          dataLabels: 'percent_label'
        } }
    }
  );
<% end %>