<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
  <b>Accepts marketing:</b>
  <%= @customer.accepts_marketing %>
</p>

<p>
  <b>Orders count:</b>
  <%= @customer.orders_count %>
</p>

<p>
  <b>Shopify:</b>
  <%= @customer.shopify_id %>
</p>

<p>
  <b>First name:</b>
  <%= @customer.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @customer.last_name %>
</p>

<p>
  <b>Total spent:</b>
  <%= @customer.total_spent %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
