<%= form_for(@template) do |f| %>
  <% if @template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@template.errors.count, "error") %> prohibited this discount_template from being saved:</h2>

      <ul>
      <% @template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :discount_type %><br />
    <%= f.text_field :discount_type %>
  </div>
  <div class="field">
    <%= f.label :starts_at %><br />
    <%= f.datetime_select :starts_at %>
  </div>
  <div class="field">
    <%= f.label :ends_at %><br />
    <%= f.datetime_select :ends_at %>
  </div>
  <div class="field">
    <%= f.label :minimum_order_amount %><br />
    <%= f.text_field :minimum_order_amount %>
  </div>
  <div class="field">
    <%= f.label :usage_limit %><br />
    <%= f.text_field :usage_limit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
