<%= semantic_form_for @discount_template, :html => {:id => "discount_template_form"}, :remote => true do |f| %>
  <%= f.inputs do %>
    <%= f.input :title %>
    <%= f.input :customer_criteria, :as => :select, :collection => ["all","new","repeat"], :required => true, :include_blank => false, :remote => true %>
    <div class="grid4 first">
      <div class="grid2 first">
      <%= f.input :value %>
      </div>
      <div class="grid2 first">
      <%= f.input :discount_type, :as => :select, :collection => [[current_shop.currency, "fixed_amount"], ["%", "percentage"]], :include_blank => false, :label => "" %>
      </div >
    </div>
    <%= f.input :order_placed_after, :as => :hidden %>
    <%= f.input :order_placed_before, :as => :hidden %>
  <% end %>
  <%= f.buttons %>
<% end %>