<%= semantic_form_for @discount_template, :html => {:id => "discount_template_form", :class=>"grid8"}, :remote => true do |f| %>
  <%= f.inputs do %>
    <div class="grid8 inline first">
      <%= f.input :title %>
      <p class="dates">
        <% unless @discount_template.order_placed_after.nil? %>
          <%= "Between #{@discount_template.order_placed_after.strftime("%d %b %R")}
        and #{@discount_template.order_placed_before.strftime("%d %b %R")}" %>
        <% end %>
        <%= f.input :order_placed_after, :as => :hidden %>
        <%= f.input :order_placed_before, :as => :hidden %>
      </p>
      <%= f.input :customer_criteria, :as => :select, :collection => ["all","new","repeat"], :required => true, :include_blank => false, :label => "Give" %> customers who spend 
      <% @mao = (@discount_template.minimum_order_amount > 0) unless @discount_template.minimum_order_amount.nil? %>
      <a id="spend_link" style="<%= "display:none" if @mao %>">any amount</a>
      <span id="spend" class="<%= "hide_me" unless @mao %>">
        <%= f.input :minimum_order_amount, :label => "a minimum of #{current_shop.currency}"%>
      </span>
    </div>
    <div class="grid8 inline first">
      <div class="grid4 first">
      <%= f.input :value %>
      </div>
      <div class="grid4 first">
      <%= f.input :discount_type, :as => :select, :collection => [[current_shop.currency, "fixed_amount"], ["%", "percentage"]], :include_blank => false, :label => "" %>
      </div >
    </div>
    <div class="grid8 inline first">
      <% @dv = !(@discount_template.days_valid.nil?) %>
      The coupon <a id="valid_time_link" style="<%= "display:none" if @dv %>">can be used any time</a>
      <span id="valid_time" class="<%= "hide_me" unless @dv %>">
        <%= f.input :days_valid, :label => "is valid until "%>days
      
        <%= f.input :valid_type, :as => :select, :collection => [["after they get the coupon","after_generated"], ["after the promotion finishes", "after_end_date"]], :required => true, :include_blank => false, :label => ""%>
      </span>
    </div>
  <% end %>
  <%= f.buttons %>
<% end %>
<%= javascript_include_tag "discount_template_form" %>