<h1>Discount Templates</h1>

<p class="help_text">Discount templates let you target specific customers and offer them discounts. When someone places an order which matches one of your templates, they'll be sent a discount code. For more information on how this works, check out the <a>Help</a> page.</p>

<h2>Make a New Template</h2>

<% if @template.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@template.errors.count, "error") %> prohibited this discount_template from being saved:</h2>

    <ul>
    <% @template.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @template do |f| %>
  Give <a id="all">repeat customers</a>
  <span id="define_customers" style="display:none">
    <select id="discount_template_customer_criteria" name="discount_template[customer_criteria]">
      <option value="all">all</option>
      <option value="new">new</option>
      <option value="repeat" selected>repeat</option>
    </select>
    customers 

    who place <a id="no_limit">any order</a><span id="limit" style="display:none">
      orders worth <input id="discount_template_minimum_order_amount" name="discount_template[minimum_order_amount]" size="7" type="text">USD or more</span>


    between <a id="starts_at">now</a>
    <input id="discount_template_starts_at" name="discount_template[starts_at]" type="text" style="display:none">

    and <a id="ends_at">forever</a>,
    <input id="discount_template_ends_at" name="discount_template[ends_at]" type="text" style="display:none">
  </span>

  a discount of <input id="discount_template_value" name="discount_template[value]" size="7" type="text"><select id="discount_template_discount_type" name="discount_template[discount_type]">
    <option value="fixed_amount">USD</option>
    <option value="percentage">%</option>
  </select> 

  to be used on at most <a id="usage">one</a>
  <input id="discount_template_use_limit" name="discount_template[usage_limit]" type="text" style="display:none" size="3"> order
  
  placed <a id="anytime">anytime</a>
  <span id="valid_time" style="display:none">
    between <a id="order_after">now</a>
    <input id="discount_template_order_placed_after" name="discount_template[order_placed_after]" type="text" style="display:none">

    and <a id="order_before">forever</a>
    <input id="discount_template_order_placed_before" name="discount_template[order_placed_before]" type="text" style="display:none">
  
  </span>
  
  <input id="discount_template_submit" name="commit" type="submit" value="Create Template">
<% end %>

<h2>Existing Templates</h2>

<table>
  <tbody>
    <tr>
      <th>
        Codes
      </th>
      <th>
        Discounts
      </th>
      <th>
        Net Sales
      </th>
      <th>
        Description
      </th>
    </tr>
    <% @discount_templates.each do |discount_template| %>
    <tr>
      <% @a = rand(10).ceil; @b = rand(@a).floor; @c = @b*rand(9.99); @d = @c+(@b*rand(9.99)) %>
      <td style="width:15%;text-align:center;"><%= content_tag :h2, @b %><br /> used, <%= @a-@b %> left</td>
      <td style="width:15%;text-align:center;"><%= number_to_currency @c %></td>
      <td style="width:15%;text-align:center;"><%= number_to_currency @d %></td>
      <td style="color:#777;"><%= sanitize(long_description(discount_template)) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= javascript_include_tag "discount_template_form" %>
