<h1>Discount Templates</h1>

<h2>New Template</h2>

<% if @template.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@template.errors.count, "error") %> prohibited this discount_template from being saved:</h2>

    <ul>
    <% @template.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @template do |f| %>
  Give <a id="all">all</a>
  <select id="discount_template_customer_criteria" name="discount_template[customer_criteria]" style="display: none;">
    <option value="all">all</option>
    <option value="new">new</option>
    <option value="repeat">repeat</option>
  </select>
  customers 

  who place <a id="no_limit">any order</a>
  <span id="limit" style="display:none">
    orders of <input id="discount_template_minimum_order_amount" name="discount_template[minimum_order_amount]" size="7" type="text">USD or more</span>,


  between <a id="starts_at">now</a>
  <input id="discount_template_starts_at" name="discount_template[starts_at]" type="text" style="display:none">

  and <a id="ends_at">forever</a>,
  <input id="discount_template_ends_at" name="discount_template[ends_at]" type="text" style="display:none">

  a discount of <input id="discount_template_value" name="discount_template[value]" size="7" type="text"><select id="discount_template_discount_type" name="discount_template[discount_type]">
    <option value="fixed_amount">USD</option>
    <option value="percentage">%</option>
  </select> 

  to be used on at most <a id="usage">one</a>
  <input id="discount_template_use_limit" name="discount_template[usage_limit]" type="text" style="display:none" size="3"> orders.
  
  <input id="discount_template_submit" name="commit" type="submit" value="Create Template">
<% end %>

<script type="text/javascript">
$(document).ready(
  function(){
    toglify("#all", "#discount_customer_criteria");
    toglify("#no_limit", "#limit");
    toglify("#usage", "#discount_use_limit");
    
    function toglify(link,input){
      $(link).click(function(){
        $(link).toggle();
        $(input).toggle();
      });
    }
    
    $("#discount_starts_at").datepicker({ 
      minDate: 0,
      onSelect: function(date) {
                  $("#starts_at").html(date)
      },
      dateFormat: 'd M yy'
    });
    
    
    $("#starts_at").click(function(){
      $("#discount_starts_at").datepicker('show');
    });
    
    $("#discount_ends_at").datepicker({ 
      minDate: 0,
      onSelect: function(date) {
                  $("#ends_at").html(date)
      },
      dateFormat: 'd M yy'
    });
    
    $("#ends_at").click(function(){
      $("#discount_ends_at").datepicker('show');
    });
    
  }
);
</script>

<h2>Existing Templates</h2>

<% @discount_templates.each do |discount_template| %>
  <%= sanitize(long_description(discount_template)) %><br />
<% end %>
<br />

<%= link_to 'New Discount template', new_discount_template_path %>
