<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :total_price %><br />
    <%= f.text_field :total_price %>
  </div>
  <div class="field">
    <%= f.label :total_discounts %><br />
    <%= f.text_field :total_discounts %>
  </div>
  <div class="field">
    <%= f.label :shopify_id %><br />
    <%= f.text_field :shopify_id %>
  </div>
  <div class="field">
    <%= f.label :total_line_items_price %><br />
    <%= f.text_field :total_line_items_price %>
  </div>
  <div class="field">
    <%= f.label :subtotal_price %><br />
    <%= f.text_field :subtotal_price %>
  </div>
  <div class="field">
    <%= f.label :buyer_accepts_marketing %><br />
    <%= f.check_box :buyer_accepts_marketing %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br />
    <%= f.text_field :customer_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
