<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @order.name %>
</p>

<p>
  <b>Email:</b>
  <%= @order.email %>
</p>

<p>
  <b>Total price:</b>
  <%= @order.total_price %>
</p>

<p>
  <b>Total discounts:</b>
  <%= @order.total_discounts %>
</p>

<p>
  <b>Shopify:</b>
  <%= @order.shopify_id %>
</p>

<p>
  <b>Total line items price:</b>
  <%= @order.total_line_items_price %>
</p>

<p>
  <b>Subtotal price:</b>
  <%= @order.subtotal_price %>
</p>

<p>
  <b>Buyer accepts marketing:</b>
  <%= @order.buyer_accepts_marketing %>
</p>

<p>
  <b>Customer:</b>
  <%= @order.customer_id %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
