<h1>Listing discounts</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Value</th>
    <th>Type</th>
    <th>Starts at</th>
    <th>Ends at</th>
    <th>Minimum order amount</th>
    <th>Usage limit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @discounts.each do |discount| %>
  <tr>
    <td><%= discount.code %></td>
    <td><%= discount.value %></td>
    <td><%= discount.type %></td>
    <td><%= discount.starts_at %></td>
    <td><%= discount.ends_at %></td>
    <td><%= discount.minimum_order_amount %></td>
    <td><%= discount.usage_limit %></td>
    <td><%= link_to 'Show', discount %></td>
  </tr>
<% end %>
</table>
