<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @discount.code %>
</p>

<p>
  <b>Allocated to:</b>
  <%= link_to @discount.customer.name, @discount.customer.shopify_url %>
</p>

<p>
  <b>Template:</b>
  <%= sanitize template_descr(@discount.discount_template) %>
</p>



<%= link_to 'Back', discounts_path %>
