<!DOCTYPE html>
<html>
<head>
  <title>Shopify Application</title>
  <%= stylesheet_link_tag :all, "reset", "cupertino/jquery-ui-1.8.13.custom.css", "960", "formtastic", "style" %>
  <%= javascript_include_tag "application", "jquery-1.6.1.min.js", "jquery-ui-1.8.13.custom.min.js" %>
  <%= csrf_meta_tag %>
</head>

<body>
  <div class="container12">
    <div id="header" class="grid12">
      <h1><%= link_to 'Shopify Demo Application', '/' %></h1>
    
      <p id="login-link">
        <% if current_shop %>
            <span class="note">current shop</span> <%= link_to current_shop.url, "https://#{current_shop.url}", :class => 'shop_name' %> <span class="note">|</span>
            <%= link_to 'logout', :controller => "login", :action => 'logout' %>
        <% end %>
      </p>
    </div>

    <div id="container" class="clearfix">
      <ul id="tabs" class="grid12">
        <%= tab :index, {:controller => 'home'}, :label => 'Home' %>
        <%= tab :index, {:controller => 'discounts'}, :label => 'Discounts' %>
        <%= tab :index, {:controller => 'discount_templates'}, :label => 'Templates' %>
      </ul>
    
      <!-- Flash error & notice-->
      <% if flash[:error] %> <div id="flasherrors"><%= flash[:error] %></div><% end %>
      <% if flash[:notice] %><div id="flashnotices"><%= flash[:notice] %></div><% end %>
  
      <!-- begin div.main-->
      <div id="main" class="grid12">
        <%= yield %>
      </div>
      <!-- end div.main -->
    </div>
  </div>
  
  <script>
  $(document).ready(
    function(){
      <%= content_for(:jquery) %>
    });
  </script>
</body>
</html>